*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Karla', 'Roboto', sans-serif;
  font-size: 18px;
}

header {
  margin-top: 1rem;
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-linktree {
  height: 20px;
  width: 85px;
}

.content {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: min-content;
  height: 300px;
  background: #fff;
}

/* .eyes-sadness{
    opacity: 0.1;
    position: relative;
    margin-right: 22rem;
    width: 300px;

} */

.content img {
  margin-right: 40px;
}

.content p {
  padding-top: 70px;
}

.underline-link {
  text-decoration: underline black 2px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer img {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .sadness {
    display: none;
  }
}

@media screen and (min-width: 760px) {
}
.sadness {
  position: relative;
  margin-left: 70rem;
  width: 400px;
  height: auto;
  opacity: 0.1;
  transition: cubic-bezier(0.08, 0.59, 0.29, 0.99) 1s;
}

.sadness:hover {
  opacity: 0.5;
}
