header{
  margin-top: 2rem;  
  margin-left: 2rem;
  
}

main {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min-content;
height: 300px;
background: #fff;
}


.content img{
    margin-right: 40px;
}

.content p {
    padding-top: 70px;
}


footer{
    text-align: center;
    position:absolute;
	bottom:0;
	width:100%;
}
