*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html{
    font-family: 'Karla', 'Roboto', sans-serif;
    font-size: 16px;
}

main{
    text-align: center;
}

.user-image img {
    border-radius: 50%;
    height: 96px;
    width: auto;
    margin-top: 3rem;
}

.user-name{
    padding-top: 15px;
}

.user-links{
    margin-top: 2rem;
    text-align: -webkit-center;
}

.links {
    display: flex;
    position: relative;
    width: 40%;
    max-width: 100%;
    min-width: 35%;
    height: 3rem;
    background-color: rgb(57, 224, 155);
    border: 2px solid rgb(57, 224, 155);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    transition: cubic-bezier(0.08, 0.59, 0.29, 0.99) 0.25s;
}

.links:hover{
    background-color: white;
    color: rgb(57, 224, 155);
}

footer{
    text-align: center;
    position:absolute;
	bottom:0;
	width:100%;
}

.linktree-logo{
    width: 100px;
    height: auto;
}