* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

div {
    align-items: center;
    border-bottom: 1px solid #d7dce1;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    justify-content: flex-start;
}

header {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    border-bottom: 1px solid #d7dce1;
}

header a {
    margin: 0 1.25rem;
}

span {
    font-weight: bold;
}

#button-share {
    background-color: #ffff;
    border: 1px solid #d7dce1;
    border-radius: 0.2rem;
    color: #686d73;
    cursor: pointer;
    padding: 0.4rem 0.75rem;
    position: absolute;
    right: 1rem;
}

.myLink {
    text-decoration: underline;
    text-align: start;
    font-size: 0.9rem;
}

.myLink span {
    margin-right: 0.25rem;
}

.sidebar-left {
    justify-content: flex-end;
}

.logo {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    width: 1.5rem;
    height: 1.25rem;
}

.support {
    width: 1.6rem;
    margin: 0 1.25rem;
}

.toggle-links:hover {
    background-color: rgb(230, 228, 240);
    color: rgb(117, 81, 233);
    display: block;
    border-radius: 0.5rem;
}

.toggle-links {
    display: block;
    padding: 0;
}

#menu img {
    margin: 0.625rem;
    width: 0.625rem;
}

#menu,
#support {
    display: block;
    position: absolute;
    border: 1px solid #d7dce1;
    border-radius: 0.5rem;
    list-style: none;
    top: 2rem;
    right: 2rem;
    background: #fff;
    transition: 0.1s;
    z-index: 3;
    height: 0;
    visibility: hidden;
    padding-top: 1rem;
}

#support {
    right: 5rem;
}

#menu span,
#support span{
    font-size: 0.7rem;
}

#nav.active #menu {
    height: 14rem;
    width: 15.625rem;
    visibility: visible;
}

#nav-support.active #support {
    height: 16rem;
    width: 15.625rem;
    visibility: visible;
}

#menu a,
#support a {
    padding: 1rem 0;
    margin: 0 1rem;
    cursor: pointer;
}

#menu span,
#support span {
    padding: 0.625rem 0.75rem 0.312rem;
}

#menu li,
#support li {
    margin: 0 0.625rem;;
    display: flex;
}

#menu #user-star {
    background-color: #00d775;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

#btn-mobile,
#btn-support {
    cursor: pointer;
    padding: 0;
}

.modal-container {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background-color: #fff;
    position: absolute;
    border: none;
    border-radius: 0.5rem;
    display: block;
    height: auto;
    margin: 0;
    padding: 1rem 0.25rem 4.25rem;
    width: 100vw;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.modal div {
    padding: 0.5rem;
    border: none;
    justify-content: center;
}

.modal-container-links{
    border: none;
    display: block;
    height: auto;
}

.modal .modal-links {
    height: auto;
    border-bottom: 1px solid #d7dce1;
    justify-content: space-between;
}

.modal-links:hover {
    background-color: #d7dce1;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modal button {
    background-color: rgba(0,0,0, 0);
    border: none;
    padding: 1rem;
    text-align: start;
    width: 100%;
    cursor: pointer;
}

.modal .fechar {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
}

.modal h2 {
    font-weight: bold;
}

.btn-right {
    width: 0.4rem;
}

.svg  {
    width: 1.2rem;
}

.modal-logo {
    margin-left: 0.25rem;
}

.modal-account .account {
    color: #686d73;
}

.modal-account button {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d7dce1;
    border-radius: 0.5rem;
    padding: 0;
}

.modal-account button:hover {
    border: 1px solid #00d775;
    border-radius: 0.5rem;
}

#copy {
    font-weight: normal;
    padding: 1rem;
}

.modal-account button:hover #copy {
    background-color: #00d775;
    font-weight: normal;
    border-radius: 0.5rem;
    padding: 0.9rem;
    margin: 0;
}

@media (min-width: 768px) {
    .sidebar-left {
        border-bottom: none;
        border-right: 1px solid #d7dce1;
        flex-flow: column;
        height: 100%;
        position: fixed;
        width: 4rem;
    }

    .link {
        float: right;
        font-size: 0.9rem;
        width: 18.75rem;
    }

    .link span {
        margin-right: 0.25rem;
        white-space: nowrap;
        font-size: 0.9rem;
    }
    
    .myLink {
        margin-right: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    header {
        margin-left: 4rem;
        border-right: 1px solid #d7dce1;
    }

    #btn-mobile {
        display: flex;
    }

    #btn-support {
        border-bottom: none;
    }
    #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
    }
    #menu a {
        display: block;
        padding: 0.5rem;
    }
}

@media (min-width:992px){
    .link {
        width: 27.2rem;
        padding: 0 1.5rem;
    }
}