@import url('/public/stylesheets/variables.css');

/* RESET */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Karla', 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.underline-text:hover {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.size-items-menu-mobile {
    color: var(--button-dark);
    font-size: .875rem;
    line-height: 1.6;
}

button {
    background: transparent;
    align-items: center;
    border-radius: .5rem;
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

button span {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

ol,
ul {
    list-style: none;
}


/* HEADER */

header,
main,
footer {
    height: auto;
    width: 100%;
}

.header-container {
    background: #FFF;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    flex-flow: row nowrap;
    height: 56px;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.header__logo {
    height: auto;
    width: auto;
}

.logo-linktree {
    height: 20px;
    width: 85px;
}

.header__items-nav {
    display: none;
}

.header__items-nav ul {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 100%;
}

.header__items-nav ul li:not(:last-child) {
    margin-right: 3rem;
}

.header__items-nav ul li {
    display: inline-block;
    height: 74px;
    line-height: 74px;
}

.header__items-nav ul li a {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.header__items--bcg {
    background-image: linear-gradient(to right, rgb(40, 191, 123), rgb(46, 211, 186) 20%, rgb(68, 194, 215) 40%, rgb(90, 162, 220) 60%, rgb(112, 141, 224) 80%, rgb(138, 134, 229));
    background-position: 0% 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease-out 0s;
}

.header__items--bcg:hover {
    background-size: 100% 2px;
}

.header__items-login {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100%;
    width: auto;
}

.header__items-login a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.header__items-login>:not(:last-child) {
    margin-right: 1rem;
}

.btn-sign-up {
    background: var(--button-green-light);
    height: 32px;
    padding: .75rem;
}

.btn-sign-up:hover {
    background: var(--button-green-normal);
}

.btn-sign-up span {
    font-size: .8125rem;
    font-weight: bold;
}

/* MENU TOGGLE */

#menu-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 22px;
    position: relative;
    width: auto;
}

.menu-toggle__item {
    background: black;
    height: 2px;
    position: relative;
    width: 24px;
}

/* NAV - ITEMS */

nav ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 100%;
}

nav ul li {
    height: 100%;
    width: 100%;
}

nav ul>li a {
    color: var(--dark);
    display: block;
    text-align: center;
    width: 100%;
}

.header__menu {
    align-items: center;
    display: flex;
    background: var(--grey-light);
    height: 48px;
    margin-top: 3.5rem;
    position: fixed;
    width: 100%;
    transform: translateY(calc(0px));
    transition: transform 0.3s ease-in-out 0s;
    z-index: 4;
}

.navbar-transition {
    transform: translateY(calc(-48px));
}

/* MENU LATERAL - MOBILE */

.menu-mobile-container {
    background: #FFF;
    display: flex;
    /* border: 1px solid #000; */
    flex-flow: column nowrap;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: .6s;
}

.menu-mobile__header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
    padding: 1.5rem 1rem;
    width: 100%;
}

.menu-mobile-container nav {
    /* background: #34F234; */
    padding: 2.5rem 1.5rem;
    width: 100%;
}

.menu-mobile-container nav>ul,
.menu-mobile__submenu-container,
.menu-mobile__subitems-container {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /* color: var(--dark); */
}

.menu-mobile__submenu-container {
    padding: 0 0 1.5rem;
}

.menu-mobile__submenu-btn {
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    flex: 0 1 100%;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.menu-mobile-container nav>ul>li a,
.menu-mobile-container nav>ul>li p {
    text-align: left;
}

.menu-mobile__item,
.menu-mobile__subitem,
.menu-mobile__submenu-container p {
    font-size: 1.25rem;
    font-family: 'Karla', 'Roboto', sans-serif;
    color: var(--dark);
    line-height: 1.6;
}

.menu-mobile__item {
    padding-bottom: 1.5rem;
}

.menu-mobile__subitem {
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

.menu-mobile__subitem:first-child {
    margin-top: 1.5rem;
}

.menu-mobile__footer {
    margin: 0 1.5rem 1.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(196, 196, 196);
    color: rgb(196, 196, 196);
    outline: none;
}

.menu-mobile__footer-items {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.menu-mobile__footer-items a {
    display: block;
    font-size: .875rem;
    color: rgb(19, 20, 21);
    line-height: 1.6;
}

.menu-mobile__footer-items a:not(:last-child) {
    padding-bottom: 1rem;
}

.menu-mobile__footer-icons {
    height: auto;
    width: 100%;
}

.menu-mobile__footer-icons a {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    fill: rgb(196, 196, 196);
}

.menu-mobile__footer-icons svg:not(:last-child) {
    margin-right: 1.5rem;
}

.menu-mobile__footer-icons a:hover,
.menu-mobile__footer-icons svg:hover {
    fill: var(--button-green-light);
}

/*  MAIN */


/* BANNER - TITLE */

.container-body {
    padding: 3.5rem 0 0;
}

.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 104px 0 128px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.banner__title {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.banner__title h1 {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -0.04rem;
    line-height: 1.25;
    text-align: center;
}

.banner__title p {
    color: rgb(38, 50, 56);
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: -0.025rem;
    line-height: 1.6;
    padding: .5rem 0 0;
    text-align: center;
}

.banner__btn {
    background: var(--button-blue-normal);
    cursor: pointer;
    border-radius: .75rem;
    height: 48px;
    padding: 0 1.5rem;
}

.banner__btn:hover {
    background: var(--button-blue-dark);
}

.banner__btn span {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
}

.banner__login {
    display: flex;
    max-width: 256px;
    padding-top: 1rem;
}

.banner__login--text {
    color: rgb(19, 20, 21);
    font-family: 'Karla', 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: calc(-0.32px);
    line-height: 1.75;
}

a.banner__login--text {
    text-decoration: underline;
}


/* TRANSFORM */

.element-hidden {
    display: none;
}


/****** DEVICE - IMAGE ******/


/* BODY */

.device-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 2;
}

.device-body {
    height: 432px;
    position: relative;
    width: 200px;
}

.device-body--background {
    background-image: linear-gradient(155deg, rgb(11, 175, 255), rgb(57, 224, 155) 50%, rgb(255, 194, 19));
    border-radius: 2%;
    /* overflow: hidden; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 96px 96px 0px;
}

.device-body::after {
    background-image: url("https://d1nnwinjc04txl.cloudfront.net/static/device-deee8c126310b52fd50ed2fdb21ba2cd.png");
    background-repeat: round;
    content: '';
    inset: -1.8% -5.6%;
    position: absolute;
}


/* HEADER */

.device-header {
    background: var(--bgc-light);
    border-radius: 50%;
    display: block;
    height: 42px;
    margin: 1.25rem auto 1.3125rem;
    opacity: 1;
    position: relative;
    width: 42px;
}


/* CONTEÚDO */

.device-content {
    background: var(--bgc-light);
    border-radius: 4px;
    height: auto;
    margin: 0 auto .625rem;
    padding: 1.75rem 0 0;
    width: 173px;
}


/* FOOTER */

.device-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto 0;
    width: 96px;
    -webkit-box-pack: justify;
}

.device-footer__items {
    display: block;
    height: 16px;
    width: 16px;
}

.device-footer__items--style {
    fill: var(--bgc-light);
    stroke: none;
}


/* ANIMATION */

.device-animation {
    min-height: 200px;
    width: 100%;
}

.device-animation__line {
    height: 168px;
    margin: 0 auto;
    width: 0;
}

.device-animation__line--style {
    border-left-style: dashed;
    border-left-color: rgb(117, 81, 233);
    border-width: 0px 0px 0px 2px;
    border-image: initial;
}

.device-animation__box {
    background: var(--bgc-light);
    border: 1px solid rgb(117, 81, 233);
    border-radius: 48px;
    height: 64px;
    margin: 0 auto;
    max-width: 84vw;
    /* transform-origin: 50% 50%; */
    transform: translateY(-50%);
    width: 320px;
}

.device-animation__box form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    padding: 0 .5rem 0 1.5rem;
}

.device-animation__box form>svg {
    height: 24px;
    margin: 0 5px 0 0;
    width: 24px;
}

.form__svg--first {
    fill: var(--button-green-light);
}

.form__svg--second {
    fill: var(--button-green-normal);
}

.device-animation__box form div>span {
    color: rgb(204, 204, 204);
    font-size: 1.25rem;
    letter-spacing: -0.64px;
}

.device-animation__box form div>span:not(:last-child) {
    color: rgb(38, 50, 56);
}