* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    margin: 1.5rem auto 3rem;
    text-align: center;
}

.main {
    padding: 16px;
}

.img__logo {
    width: 85px;
}

.main h2 {
    font-weight: normal;
    font-size: 1.9rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
}

.button {
    background-color: rgb(117, 81, 233);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 3rem;
    margin-top: 1.5rem;
}

.input {
    background-color: rgb(248, 248, 248);
    border: none;
    border-radius: 0.7rem;
    height: 3rem;
    padding: 0.7rem;
    margin-top: 1.5rem;
}


a {
    color: #000;
    text-decoration: none;
}

a.create {
    font-weight: bold;
    text-decoration: underline;
}

.main p {
    margin-top: 1.5rem;
    text-align: center;
}

#dontAccount {
    margin-top: 3rem;
}

@media (min-width: 478px){
    .main{
        margin: 0 auto;
        text-align: center;
    }
}

@media (min-width: 640px){
    .main{
        width: 608px;
    }
}

@media (min-width: 768px){
    .header {
        margin: 1.5rem auto 5.5rem 3rem;
        text-align: start;
    }
    .main {
        border: 1px solid rgba(153, 153, 153, 0.4);
        border-radius: 0.7rem;
        margin: 0 auto;
        padding: 3rem 5rem;
        text-align: center;
        width: 640px
    }
    .main h2 {
        margin-bottom: 2rem;
    }
}