:root {
    --button-dark: rgb(38, 50, 56);
    --button-green-light: rgb(57, 224, 155);
    --button-green-normal: rgb(40, 191, 123);
    --grey-light: rgb(244, 244, 244);
    --dark: rgb(38, 50, 56);
    --button-blue-normal: rgb(117, 81, 233);
    --button-blue-dark: rgb(99, 68, 198);
    --bgc-light: rgb(255, 255, 255);
}


/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    font-family: 'Karla', 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* VIDEOS */


.video-container {
    padding: 0 64px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.video-article-container {
    align-items: center;
    display: table;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 4.44444vw 0;
}

.video-article-container article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 3.33333%;
    direction: ltr;
    text-align: left;
}

.video-right .video-content{
    order: -1;
}

.video-article-container article:not(:last-child) {
    margin-bottom: 6.66667vw;
}




.video-article-container video {
    width: 100%;
    height: 100%;
}

.video-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11.1111%;
    padding-right: 5.55556%
}

.video-content h2 {
    margin-bottom: .5rem;
    font-size: 3.33333vw;
    line-height: 1.17;
    text-align: left;
    letter-spacing: calc(-0.96px);
    font-weight: normal;
}

.video-content p {
    letter-spacing: calc(-0.48px);
    color: rgb(69, 90, 100);
    line-height: 1.5;
}

/* GRAFICOS */

.graphics-container {
    margin: 0px auto;
    padding: 4.44444vw 0px;
    position: relative;
    opacity: 1
}

.graphics-article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.graphics-container article {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px 24px;
}

.graphics-container article h2 {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.graphics-container article p {
    text-align: center;
    color: rgb(38, 50, 56);
    letter-spacing: calc(-0.4px);
    line-height: 1.6;
}


/* BOTÕES HOVER */

.btn--center {
    margin: 0 auto;
    display: table;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 48px;
    padding: 0 calc(24px);
}

.btn--purple-hover {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(117, 81, 233);
    padding: 22px;
    

    border: 1px solid rgb(117, 81, 233);
    border-radius: calc(12px);
    cursor: pointer;
}

.btn--purple-hover:hover {
    background-color: rgb(117, 81, 233);
    color: #fff;
}


.btn--purple {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 22px;
    background-color: rgb(117, 81, 233);
    

    border: 1px solid rgb(117, 81, 233);
    border-radius: calc(12px);
    cursor: pointer;
}

.btn--purple:hover {
    background-color: rgb(72, 34, 194);
    color: #fff;
}

/* LINKTREE COMMUNITY */

.community-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    padding-bottom: 96px;
}


.community-content-container {
    border-top: 1px solid rgb(218, 222, 224);
    padding: 96px 0px;
    margin: 0px calc((100vw - 1152px) / 2);
}


.community-content-container h2 {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: calc(-.96px);
    font-weight: normal;
    display: block;
    width: 50%;
}

.community-content-container p {
    color: rgb(38, 50, 56);
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: calc(-0.4px);
    font-weight: normal;
    display: block;
    width: 50%;
}

/* CARROSSEL COMMUNITY */

.community-carrossel-container {
    display: flex;
    flex-direction: row;
    padding-left: calc((100vw - 1152px) / 2);
    overflow-x: scroll;
    padding-bottom: 50px;
}

.community-carrossel-container div {
    margin-right: 48px;
    
}

.community-carrossel-container div a img {
    top: 0px;
    left: 0px;
    transition: all 0.1s ease 0s;
    border-radius: 50px;
    object-fit: cover;
    object-position: center center;
}

.community-carrossel-container div a > img:hover{
  
    }
    
/* FEATURE EMPRESAS */

.featured-container{
    padding: 4.44444vw 0px;
    border-top: 1px solid rgb(218, 222, 224);
    text-align: center;
}

.featured-container article{
    box-sizing: border-box;
    margin: 0px auto;
    width: 100%;
    max-width: calc(1280px);
    padding: 0px 64px;

}

.featured-container p {
    display: block;
    padding-bottom: 24px;
    font-size: 20px;
    color: rgb(38, 50, 56);
    line-height: 1.6;
}

.featured-container div{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 48px;
}

.featured-container div div{
    border-radius: 10px;
    background-color: rgb(245, 247, 248);
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}