body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
}

.container-videos {
    box-sizing: border-box;

}

h2 {
    margin: 16px auto;
    padding: 0;
    font-size: 48px;
    width: 360px;
    align-items: center;
    text-align: center;
}


.video1,
.video3,
.video5 {
    padding-left: 20%;

}

.video2,
.video4 {
    padding-left: 10%;
}

.div-video {
    display: flex;
    flex-flow: row nowrap;
}

.div-video5{
    margin-bottom: 6%;
}

.type-title-02,
.type-title-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type-title-01 {
    margin-left: 10%;
}

.type-title-02 {
    margin-left: 25%;
}

p{
  color: gray;
  font-size: 1.66667vw;
  letter-spacing: calc(-0.48px); /* Responsividade letras */
}

.graphics{
    display: flex;
    text-align: center;
    align-items: flex-start;
    width: 150%;
    margin: 20px;
}

.graphics div h2 {
    display: inline-block;
    text-align: center;
}

.graphics div p {
    text-align: center;
    display: inline-block;
}


.graphics--style{
    width: 23%;
}


.text-style p{
    font-size: 27px;
    justify-content: center;
    text-align: center;
    width: 419px;
}

.text-style h2{
    font-size: 30px;
}

.btn--center{
    margin: 0 auto;
    display: table;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn--purple-hover{
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(117, 81, 233);
    padding: 22px;

    border: 1px solid rgb(117, 81, 233);
    border-radius: calc(12px);
    cursor: pointer;
}

.btn--purple-hover:hover{
    background-color: rgb(117, 81, 233);
    color: #fff;
}
