 :root {
    --primary-color: rgb(19, 20, 21);
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

form {
    flex-direction: column;
    margin-top: 48px;
}

button {
    border: none;
    outline: none;
}

.logo {
    position: relative;
    top: 0px;
    left: 50%;
    width: 85px;
    height: 20px;
    z-index: 1;
    transform: translateX(-50%);
}

.banner {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.container__title {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
}

.subtitle {
    margin-top: 8px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
}

.subtitle__item {
    display: block;
    color: var(--primary-color);
    font-weight: normal;
    line-height: 1.75;
}

.container__title--item {
    margin-bottom: 15px;
    height: 44px;
    color: var(--primary-color);
    font-size: 32px;
    letter-spacing: calc(-0.64px);
}

.preferences__group {
    padding-top: 24px;
    padding-bottom: 24px;
}

.buttons__preferences {
    padding: 0px 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    border-radius: 16px;
    color: rgb(38, 50, 56);
    background-color: rgb(218, 222, 224);
    cursor: pointer;
    transition: padding-right 0.1s linear 0s;
}

.preferences {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
}

.input,
.input:hover {
    width: 100%;
    height: 44px;
    margin-top: 8px;
    margin-bottom: 48px;
    padding: 16px 12px 24px 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(248, 248, 248);
    color: var(--primary-color);
}

.recaptcha {
    text-align: center;
}

.button__submit {
    width: 100%;
    height: 48px;
    margin: 24px 0px;
    border-radius: 12px;
    border-style: none;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(117, 81, 233);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 600px) {
    body {
        display: flex;
    }
    
    main {
        width: 100%;
        overflow-y: scroll;
    }

    aside {
        width: 50%;
    }

    form {
        margin-top: 60px;
    }

    .logo {
        position: static;
        width: 105px;
        height: 30px;
        margin-left: 75px;
    }
    
    .banner {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }
    
    .container {
        width: 75%;
        margin-left: auto;
        margin-right: auto
    }
    
    .container__title {
        margin-bottom: 20px;
    }
}