<%- include('./partials/nav-admin'); %>
<div class="container container__main">
  <main class="main">
    <nav class="nav__header">
      <a href="/admin">Links</a>
      <a class="active" href="/admin/appearance">Appearance</a>
      <% if (usuario.admin == 1) { %>
      <a href="../dashboard" target="_blank">Settings</a>
      <% } %>
      <a href="#">PRO</a>
    </nav>
    <section class="appearance">
      <article>
        <h2>Profile</h2>
        <div class="appearance__container">
          <div class="profile__content">
            <img src="/img/default-profile.png" alt="" />
            <div>
              <button class="btn button">Pick an image</button>
              <button class="btn button button__remove">Remove</button>
            </div>
          </div>
          <form action="/admin/appearance/update" method="POST">
            <input
              class="input__profile"
              type="text"
              name="title_profile"
              id="title_profile"
              placeholder="Profile Title"
              value="<%= usuario.titulo_perfil %>"
            />
            <small>Bio</small>
            <textarea
              class="textarea__profile"
              name="bio"
              id="bio"
              cols="30"
              rows="2"
              maxlength="80"
              placeholder="Enter a bio description to appear on your Linktree"
            >
<%= usuario.bio %></textarea
            >
            <small id="countLength"></small>
            <button id="save" class="btn button">Save</button>
          </form>
        </div>
      </article>
      <article class="article">
        <h2>Themes</h2>
        <div class="appearance__container theme__container">
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-noir.png"
              alt=""
            />
            <p>Noir</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-mint.png"
              alt=""
            />
            <p>Mint</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-miami.png"
              alt=""
            />
            <p>Miami</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-air-white.png"
              alt=""
            />
            <p>Air White</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-air-grey.png"
              alt=""
            />
            <p>Air Grey</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-rainbow.png"
              alt=""
            />
            <p>Rainbow</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/8d15fdd2005a3d6e5ff6c3d0ca135c0b496c6dd2/images/themes/selector-starry-night.png"
            />
            <p>Starry Night</p>
          </div>
          <div class="div__theme">
            <img
              src="https://assets.production.linktr.ee/5226f25a196854f363526d4634df33756f3676a8/images/themes/selector-confetti.png"
            />
            <p>Confetti</p>
          </div>
        </div>
      </article>
    </section>
    <%- include('./partials/footer-admin') %>
  </main>
</div>
