<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linktree&trade; | Error</title>
    <link
      rel="icon"
      href="https://d1nnwinjc04txl.cloudfront.net/favicon-32x32.png?v=530918d2c86b9dd11c4fde40fa99d1b4"
      type="image/png"
    />
    <link rel="stylesheet" href="/stylesheets/error-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <header>
      <a href="#"
        ><img class="logo-linktree" src="/svg/linktree-logo.svg" alt="Linktree"
      /></a>
    </header>

    <body>
      <main>
        <div class="content">
          <img src="/img/404-error.png" alt="Divertidamente" />
          <p>
            <%= error.message %>
            <a class="" href="/<%= error.redirect %>"><%= error.markup %>.</a>
          </p>
        </div>
        <img class="sadness" src="/img/divertidamente-sad.png" alt="" />
      </main>

      <footer>
        <p>
          Deseja criar uma conta?
          <b
            ><a class="underline-link" href="/register">
              Registre-se no linktree agora.</a
            >
          </b>
        </p>
        <a href="#"
          ><img
            class="logo-linktree"
            src="/svg/linktree-logo.svg"
            alt="Linktree"
        /></a>
      </footer>
    </body>
  </head>
</html>
