<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
    <title>Linktree</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <header class="header">
        <a href="#">
            <img class="img__logo" src="/svg/linktree-logo.svg" alt="logo linktree">
        </a>
    </header>
    <main class="main">
        <h2>Sign in to your Linktree account</h2>
        <form class="form">
            <input class="input" type="text" name="username" placeholder="Username">
            <input class="input" type="password" name="password" placeholder="Password">
            <button class="button" type="submit">Sign in</button>
        </form>
        <p><a href="#">Forgot password?</a></p>
        <p id="dontAccount">Don't have an account? <a href="#" class="create">Create one</a></p>
    </main>
</body>

</html>