<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Linktree</title>
    <link rel="stylesheet" href="/stylesheets/your-information-style.css" />
  </head>

  <body>
    <main>
      <a href="/">
        <img class="logo" src="svg/linktree-logo.svg" alt="Logo do Linktree" />
      </a>
      <div class="container">
        <div class="container__title">
          <span class="container__title--item">Tell us about yourself</span>
          <p class="subtitle__item">for a personalized Linktree experience</p>
        </div>
        <form action="/your-information" method="POST">
          <span class="subtitle">Tell us your name</span>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name"
            class="input"
            disabled
            value="<%= usuario.nome %>"
          />
          <span class="subtitle">Tell us about yourself</span>
          <span class="subtitle__item"
            >Select up to 3 categories that best describe your Linktree.</span
          >
          <span class="subtitle__item">
            We'll customize your Linktree experience based on what you
            select</span
          >
          <div class="preferences__group">
            <button type="button" class="buttons__preferences">
              <span class="preferences">Music</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Comedy</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Brand</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Creative</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Influencer</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Government</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Actor/Celebrity</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Gaming/Esports</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Fashion/Beauty</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Food/Hospitality</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Podcast/Radio</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Education</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Sports</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Publication/Digital Media</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Tv/Film</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Writer</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Community Org/Non-Profit</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Agency</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Ecommerce</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Business Professional</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Internet/Technology</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Arts/Entertainment</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Health/Wellness</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Travel/Tourism</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Independent/Small Business</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Personal</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Politics</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Model</span>
            </button>
            <button type="button" class="buttons__preferences">
              <span class="preferences">Other</span>
            </button>
          </div>

          <button type="submit" class="button__submit">Continue</button>
        </form>
      </div>
    </main>
    <aside>
      <img
        src="img\your-information-banner.png"
        alt="Banner demonstrativo de um perfil no Linktree"
        class="banner"
      />
    </aside>
  </body>
</html>
