<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Linktree</title>
    <link rel="stylesheet" href="/stylesheets/your-information-style.css" />
  </head>

  <body>
    <main>
      <a href="/">
        <img
          class="logo"
          src="svg/linktree-logo.svg"
          alt="Logo do Linktree"
        />
      </a>
      <div class="container">
        <div class="container__title">
          <span class="container__title--item">Tell us about yourself</span>
          <p class="subtitle__item">for a personalized Linktree experience</p>
        </div>
        <form action="" method="POST">
          <span class="subtitle">Tell us your name</span>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your name"
            class="input"
            required
          />
          <span class="subtitle">Tell us about yourself</span>
          <span class="subtitle__item"
            >Select up to 3 categories that best describe your Linktree.</span
          >
          <span class="subtitle__item">
            We'll customize your Linktree experience based on what you
            select</span
          >
          <div class="preferences__group">
            
          </div>
          <div class="recaptcha">
            <iframe
              title="reCAPTCHA"
              src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeJu0oUAAAAAEVBWhDi3s2khLOWV2vXinRXGnOV&amp;co=aHR0cHM6Ly9saW5rdHIuZWU6NDQz&amp;hl=pt-BR&amp;type=image&amp;v=YhkYx1k-yvvb8OonJPmOpoJY&amp;theme=light&amp;size=normal&amp;badge=bottomright&amp;cb=ke9purpiazzi"
              width="304"
              height="78"
              role="presentation"
              name="a-wusrvckq75w9"
              frameborder="0"
              scrolling="no"
              sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
            ></iframe>
          </div>
          <button type="submit" class="button__submit">Continue</button>
        </form>
      </div>
    </main>
    <aside>
      <img
        src="img\your-information-banner.png"
        alt="Banner demonstrativo de um perfil no Linktree"
        class="banner"
      />
    </aside>
  </body>
</html>
