<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
  <title>Linktree Admin</title>
  <link rel='stylesheet' href='/stylesheets/admin-nav.css' />
</head>

<body>
  <div class="sidebar-left">
    <a href="/admin">
      <img class="logo" src="/svg/linktree-min.svg" alt="Logo do Linktree">
    </a>
    <img class="support" src="/svg/support.svg" alt="Ajuda">

    <div aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
      <img src="/svg/menu.svg" alt="Menu">
    </div>
    <nav id="nav">
      <ul id="menu" role="menu">
        <span>ALTAIR.JESUS</span>
        <li><a href="/">My Account</a></li>
        <li><a href="/">Logout</a></li>
        <span>TREES</span>
        <li id="user-star">
          <a href="/">@altair.jesus</a>
          <img src="/svg/star.svg" alt="">
        </li>
      </ul>
    </nav>
  </div>
  <div class="link">
    <span>My Linktree: </span>
    <a class="myLink" href="https://linktr.ee/altair.jesus">https://linktr.ee/altair.jesus</a>
    <button>Share</button>
  </div>
  <header>
    <a href="">Links</a>
    <a href="">Appearance</a>
    <a href="">Settings</a>
    <a href="">PRO</a>
  </header>
  <script>
    const btnMobile = document.getElementById('btn-mobile');

    function toggleMenu(event) {
      if (event.type === 'touchstart') event.preventDefault();
      const nav = document.getElementById('nav');
      nav.classList.toggle('active');
      const active = nav.classList.contains('active');
      event.currentTarget.setAttribute('aria-expanded', active);
      if (active) {
        event.currentTarget.setAttribute('aria-label', 'Fechar Menu');
      } else {
        event.currentTarget.setAttribute('aria-label', 'Abrir Menu');
      }
    }

    btnMobile.addEventListener('click', toggleMenu);
    btnMobile.addEventListener('touchstart', toggleMenu);
  </script>
</body>

</html>