<%- include('./partials/nav-admin'); %>
  <aside class="aside">
    <section class="aside__profile">
      <span>My Linktree:</span>
      <a class="a a--myLink" href="https://linktr.ee/altair.jesus">https://linktr.ee/altair.jesus</a>
      <button id="button-share">Share</button>
    </section>
    <section id="fone">
      celular
    </section>
  </aside>
  <main class="main">
    <nav class="nav__header">
      <a class="active" href="#">Links</a>
      <a href="#">Appearance</a>
      <a href="#">Settings</a>
      <a href="#">PRO</a>
    </nav>
  </main>
  <%- include('./partials/footer-admin') %>