<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
  <title>Linktree Admin</title>
  <link rel='stylesheet' href='/stylesheets/admin-nav.css' />
</head>

<body>
  <div class="sidebar-left">
    <a href="/admin">
      <img class="logo" src="/svg/linktree-min.svg" alt="Logo do Linktree">
    </a>
    <div aria-label="Abrir Support" id="btn-support" aria-haspopup="true" aria-controls="support" aria-expanded="false">
      <img class="support" src="/svg/support.svg" alt="Ajuda">
    </div>
    <nav id="nav-support">
      <ul id="support" role="support">
        <span>SUPPORT</span>
        <li><a href="/">Help Topics</a></li>
        <li><a href="/">Get Started</a></li>
        <li><a href="/">Ask A Question</a></li>
        <li><a href="/">Submit Your Feed</a></li>
      </ul>
    </nav>
    <div aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
      <img src="/svg/menu.svg" alt="Menu">
    </div>
    <nav id="nav">
      <ul id="menu" role="menu">
        <span>ALTAIR.JESUS</span>
        <li><a href="/">My Account</a></li>
        <li><a href="/">Logout</a></li>
        <span>TREES</span>
        <li id="user-star">
          <a href="/">@altair.jesus</a>
          <img src="/svg/star.svg" alt="">
        </li>
      </ul>
    </nav>
  </div>
  <div class="link">
    <span>My Linktree: </span>
    <a class="myLink" href="https://linktr.ee/altair.jesus">https://linktr.ee/altair.jesus</a>
    <button id="button-share">Share</button>
  </div>
  <header>
    <a href="">Links</a>
    <a href="">Appearance</a>
    <a href="">Settings</a>
    <a href="">PRO</a>
  </header>

  <div id="modal-share" class="modal-container">
    <div class="modal">
      <button class="fechar">x</button>
      <div>
        <b>Share your Linktree</b>
      </div>
      <div>
        <p>Get more visitors by sharing your Linktree everywhere.</p>
      </div>
      <div class="modal-container-links">
        <div class="modal-links">
          <button>Add Linktree to your socials</button>
        </div>
        <div class="modal-links">
          <button>Share my Linktree to..</button>
        </div>
        <div class="modal-links">
          <button>My Linktree QR Code</button>
        </div>
      </div>
      <div>
        <button>svg/altair.jesus</button>Copy
      </div>
  </div>

  </div>

  <script>
    // Scripts Toggles
    const btnMobile = document.getElementById('btn-mobile'),
      btnSupport = document.getElementById('btn-support')
    nav = document.getElementById('nav'),
      navSupport = document.getElementById('nav-support'),
      active = nav.classList.contains('active'),
      activeSupport = navSupport.classList.contains('active')

    function toggleMenu(event) {
      if (event.type === 'touchstart') event.preventDefault();
      nav.classList.toggle('active');
      event.currentTarget.setAttribute('aria-expanded', active);
      if (active) {
        event.currentTarget.setAttribute('aria-label', 'Fechar Menu');
      } else {
        event.currentTarget.setAttribute('aria-label', 'Abrir Menu');
      }
    }

    btnMobile.addEventListener('click', toggleMenu);
    btnMobile.addEventListener('touchstart', toggleMenu);

    function toggleSupport(event) {
      if (event.type === 'touchstart') event.preventDefault();
      navSupport.classList.toggle('active');
      event.currentTarget.setAttribute('aria-expanded', activeSupport);
      if (activeSupport) {
        event.currentTarget.setAttribute('aria-label', 'Fechar Support');
      } else {
        event.currentTarget.setAttribute('aria-label', 'Abrir Support');
      }
    }

    btnSupport.addEventListener('click', toggleSupport);
    btnSupport.addEventListener('touchstart', toggleSupport);

    //Script Modal
    function initModal(modalID) {
      const modal = document.getElementById(modalID);
      console.log(modal)
      if (modal) {
        modal.classList.add('mostrar');
        modal.addEventListener('click', (event) => {
          if(event.target.id == modalID || event.target.className == 'fechar'){
            modal.classList.remove('mostrar');
          }
        })
      }
    }
    
    const share = document.getElementById('button-share');
    share.addEventListener('click', () => initModal('modal-share'))

    console.log(share)
  </script>
</body>

</html>