<%- include('./partials/nav-admin'); %>
<div class="container container__main">
  <main class="main">
    <nav class="nav__header">
      <a class="active" href="#">Links</a>
      <a href="#">Appearance</a>
      <a href="#">Settings</a>
      <a href="#">PRO</a>
    </nav>
    <section class="section__analytics">
      <span class="span__bold">Lifetime Analytics:</span>
    </section>
    <section class="section__links">
      <button class="btn button" id="btn-newLink" onclick="showFormLink()">
        Add New Link
      </button>
      <div id="nolinks">
        <p>You don't have any links to display.</p>
        <p>Click the button above to add one.</p>
      </div>
      <div id="section__links--new-links"></div>
    </section>
  </main>
  <aside class="aside">
    <section class="aside__profile">
      <span>My Linktree:</span>
      <a class="a a--myLink" href="https://linktr.ee/altair.jesus"
        >https://linktr.ee/altair.jesus</a
      >
      <button id="button-share">Share</button>
    </section>
    <section id="fone">celular
      <section class="device-container">
        <div class="device-body device-body--background">
          <span>
            <div class="device-header">
              <img src="" alt="Foto de Perfil" style="display: none;">
            </div>
          </span>
          <span>
            <div class="device-content"></div>
            <div class="device-content"></div>
            <div class="device-content"></div>
            <div class="device-content"></div>
            <div class="device-content"></div>
          </span>
          <span>
            <div class="device-footer">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                class="device-footer__items device-footer__items--style" data-test="IconComponent">
                <rect data-test="IconComponent"></rect>
                <path
                  d="M23.93,7.05a8.76,8.76,0,0,0-.56-2.91A6.07,6.07,0,0,0,19.86.63,8.76,8.76,0,0,0,17,.07C15.67,0,15.26,0,12,0S8.33,0,7.05.07A8.76,8.76,0,0,0,4.14.63,6.07,6.07,0,0,0,.63,4.14,8.76,8.76,0,0,0,.07,7.05C0,8.33,0,8.74,0,12S0,15.67.07,17a8.76,8.76,0,0,0,.56,2.91,6.07,6.07,0,0,0,3.51,3.51,8.76,8.76,0,0,0,2.91.56C8.33,24,8.74,24,12,24s3.67,0,4.95-.07a8.76,8.76,0,0,0,2.91-.56,6.07,6.07,0,0,0,3.51-3.51A8.76,8.76,0,0,0,23.93,17C24,15.67,24,15.26,24,12s0-3.67-.07-4.95M12,18.16A6.16,6.16,0,1,1,18.16,12,6.16,6.16,0,0,1,12,18.16M18.41,7a1.44,1.44,0,1,1,1.44-1.44A1.43,1.43,0,0,1,18.41,7M16,12a4,4,0,1,1-4-4,4,4,0,0,1,4,4"
                  fill-rule="evenodd"></path>
              </svg>
              <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"
                class="device-footer__items device-footer__items--style" data-test="IconComponent">
                <path
                  d="M48,0A48,48,0,1,0,96,48,48.14,48.14,0,0,0,48,0ZM70.08,69.36a2.85,2.85,0,0,1-4.08,1c-11.28-7-25.44-8.4-42.24-4.56A3,3,0,1,1,22.32,60c18.24-4.08,34.08-2.4,46.56,5.28A2.88,2.88,0,0,1,70.08,69.36Zm5.76-13.2c-1.2,1.68-3.36,2.4-5,1.2C57.84,49.44,38.16,47,23,51.84a3.64,3.64,0,0,1-2.16-7c17.52-5.28,39.12-2.64,54,6.48A3.39,3.39,0,0,1,75.84,56.16Zm6.72-14.64a5,5,0,0,1-6.24,1.2C61,33.6,35.28,32.64,20.64,37.2A4.4,4.4,0,1,1,18,28.8c17-5,45.12-4.08,62.88,6.48A4.64,4.64,0,0,1,82.56,41.52Z">
                </path>
              </svg>
              <svg viewBox="0 0 21.04 24" xmlns="http://www.w3.org/2000/svg"
                class="device-footer__items device-footer__items--style" data-test="IconComponent">
                <rect data-test="IconComponent" class="sc-AxhCb bKIKpW"></rect>
                <path
                  d="M1.19,0,0,3.85,0,21.63H4.44V24H6.81l2.38-2.37h4.14L21,13.93V0ZM19,12.74,15.7,16H10.37l-3,3V16H3V2.07H19Z">
                </path>
                <rect x="13.63" y="5.93" width="2.07" height="5.93"></rect>
                <rect x="8.3" y="5.93" width="2.07" height="5.93"></rect>
              </svg>
            </div>
          </span>
        </div>
  
        <div class="device-animation">
          <div class="device-animation__line device-animation__line--style"></div>
          <div class="device-animation__box">
            <form action="">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path class="form__svg--first"
                  d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z">
                </path>
                <path class="form__svg--second"
                  d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z ">
                </path>
              </svg>
              <div>
                <span>linktr.ee/</span>
                <span class="box-form__span--opacity">yournamehere</span>
              </div>
              <span></span>
            </form>
          </div>
        </div>
    </section>
  </aside>
</div>
<%- include('./partials/footer-admin') %>
