<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
  <title>Linktree Admin</title>
  <link rel='stylesheet' href='/stylesheets/admin-nav.css' />
</head>

<body>
  <div class="sidebar-left">
    <a href="/admin">
      <img class="logo" src="/svg/linktree-min.svg" alt="Logo do Linktree">
    </a>
    <div aria-label="Abrir Support" id="btn-support" aria-haspopup="true" aria-controls="support" aria-expanded="false">
      <img class="support" src="/svg/support.svg" alt="Ajuda">
    </div>
    <nav id="nav-support">
      <ul id="support" role="support">
        <span>SUPPORT</span>
        <a class="toggle-links" href="/"><li>Help Topics</li></a>
        <a class="toggle-links" href="/"><li class="toggle-links">Get Started</li></a>
        <a class="toggle-links" href="/"><li class="toggle-links">Ask A Question</li></a>
        <a class="toggle-links" href="/"><li class="toggle-links">Submit Your Feed</li></a>
      </ul>
    </nav>
    <div aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
      <img src="/svg/menu.svg" alt="Menu">
    </div>
    <nav id="nav">
      <ul id="menu" role="menu">
        <span>ALTAIR.JESUS</span>
        <a class="toggle-links" href="/"><li>My Account</li></a>
        <a class="toggle-links" href="/"><li>Logout</li></a>
        <span>TREES</span>
        <a id="user-star">
          <p>@altair.jesus</p>
          <img src="/svg/star.svg">
        </a>
      </ul>
    </nav>
  </div>
  <div class="link">
    <span>My Linktree: </span>
    <a class="myLink" href="https://linktr.ee/altair.jesus">https://linktr.ee/altair.jesus</a>
    <button id="button-share">Share</button>
  </div>
  <header>
    <a href="">Links</a>
    <a href="">Appearance</a>
    <a href="">Settings</a>
    <a href="">PRO</a>
  </header>

  <div id="modal-share" class="modal-container">
    <div class="modal">
      <img src="/svg/close.svg" class="fechar">
      <div>
        <h2>Share your Linktree</h2>
      </div>
      <div>
        <p>Get more visitors by sharing your Linktree everywhere.</p>
      </div>
      <div class="modal-container-links">
        <div class="modal-links">
          <div>
            <img src="/img/socials.png" alt="">
          <button>Add Linktree to your socials</button>
          </div>
          <img class="btn-right" src="/svg/right.svg" alt="">
        </div>
        <div class="modal-links">
          <div>
            <img class="svg" src="/svg/share.svg" alt="">
            <button>Share my Linktree to..</button>
          </div>
          <img class="btn-right" src="/svg/right.svg" alt="">
        </div>
        <div class="modal-links">
          <div>
            <img class="svg" src="/svg/qrcode.svg" alt="">
            <button>My Linktree QR Code</button>
          </div>
          <img class="btn-right" src="/svg/right.svg" alt="">
        </div>
      </div>
      <div class="modal-account">
        <button id="my-account" onclick="myAccount()" value="https://linktr.ee/altair.jesus">
          <div>
            <img class="svg" src="/svg/linktree-min.svg" alt="">
            <p class="modal-logo">linktr.ee/</p>
            <p class="account">altair.jesus</p>
          </div>
          <span id="copy">Copy</span>
        </button>
      </div>
  </div>

  </div>

  <script>
    // Scripts Toggles
    const btnMobile = document.getElementById('btn-mobile'),
      btnSupport = document.getElementById('btn-support')
    nav = document.getElementById('nav'),
      navSupport = document.getElementById('nav-support'),
      active = nav.classList.contains('active'),
      activeSupport = navSupport.classList.contains('active')

    function toggleMenu(event) {
      if (event.type === 'touchstart') event.preventDefault();
      nav.classList.toggle('active');
      event.currentTarget.setAttribute('aria-expanded', active);
      if (active) {
        event.currentTarget.setAttribute('aria-label', 'Fechar Menu');
      } else {
        event.currentTarget.setAttribute('aria-label', 'Abrir Menu');
      }
    }

    btnMobile.addEventListener('click', toggleMenu);
    btnMobile.addEventListener('touchstart', toggleMenu);

    function toggleSupport(event) {
      if (event.type === 'touchstart') event.preventDefault();
      navSupport.classList.toggle('active');
      event.currentTarget.setAttribute('aria-expanded', activeSupport);
      if (activeSupport) {
        event.currentTarget.setAttribute('aria-label', 'Fechar Support');
      } else {
        event.currentTarget.setAttribute('aria-label', 'Abrir Support');
      }
    }

    btnSupport.addEventListener('click', toggleSupport);
    btnSupport.addEventListener('touchstart', toggleSupport);

    //Script Modal
    function initModal(modalID) {
      const modal = document.getElementById(modalID);
      if (modal) {
        modal.classList.add('mostrar');
        modal.addEventListener('click', (event) => {
          if(event.target.id == modalID || event.target.className == 'fechar'){
            modal.classList.remove('mostrar');
          }
        })
      }
    }
    
    const share = document.getElementById('button-share');
    share.addEventListener('click', () => initModal('modal-share'))

    //Script copiar conta
    function myAccount (){
      const linkAccount = document.getElementById('my-account'),
        copy = document.getElementById('copy')
      navigator.clipboard.writeText(linkAccount.value)
      copy.innerHTML = "Copied!"
      setTimeout(() => {
        copy.innerHTML = "Copy"
      }, 1000);
    }
  </script>
</body>

</html>