<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
  <title>Linktree Admin</title>
  <link rel='stylesheet' href='/stylesheets/admin-nav.css' />
</head>

<body>
  <div class="sidebar-left">
    <span class="logo">Icon</span>
    <div>svg ?</div>
    <div class="menu">Menu dropdown</div>
  </div>
  <div class="link">
    <span>My Linktree: </span>
    <a class="myLink" href="https://linktr.ee/altair.jesus">https://linktr.ee/altair.jesus</a>
    <button>Share</button>
  </div>
  <header>
    <a href="">Links</a>
    <a href="">Appearance</a>
    <a href="">Settings</a>
    <a href="">PRO</a>
  </header>
</body>

</html>