<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
  <div class="video-container">

    <div class="video-article-container">

        <article>

            <div>
                <video autoplay muted loop>
                    <source
                      src="https://videos.ctfassets.net/lbsm39fugycf/1i6LctbRMzKsEmWCdbZWe8/3aecc0e1dd43fa2e291e9d6778c822ee/link_to_anywhere.mp4"
                      type="video/mp4">
                  </video>
            </div>

            <div class="video-content">
                <h2> Use it anywhere</h2>
                <p>Take your Linktree wherever your audience is, to help them to discover all your important content.</p>
            </div>


        </article>

        <article>

            <div class="video-content">
                <h2> Link to everywhere</h2>
                <p>Linktree is the launchpad to your latest video, article, recipe, tour, store, website, social post - everywhere you are online.</p>
            </div>

            <div>
                <video autoplay muted loop>
                    <source
                      src="https://videos.ctfassets.net/lbsm39fugycf/1i6LctbRMzKsEmWCdbZWe8/3aecc0e1dd43fa2e291e9d6778c822ee/link_to_anywhere.mp4"
                      type="video/mp4">
                  </video>
            </div>

        </article>

        <article>

          <div>
              <video autoplay muted loop>
                  <source
                    src="https://videos.ctfassets.net/lbsm39fugycf/2nDAujY8vMUV9YqWibCh4g/440bce7b1ba4bdf2171f7f6d12460238/Linktree-CommerceLinks-600x600-V02.mp4"
                    type="video/mp4">
                </video>
          </div>

          <div class="video-content">
              <h2> Collect payments</h2>
              <p>From tips for your content, to donations for your projects, let your fans & followers support you in monetizing your passions.</p>
          </div>

      </article>

      <article>

        <div class="video-content">
            <h2> Easily managed </h2>
            <p>Creating a Linktree takes seconds. Use our simple drag-and-drop editor to effortlessly manage your content.</p>
        </div>

        <div>
            <video autoplay muted loop>
                <source
                  src="https://videos.ctfassets.net/lbsm39fugycf/4jcMGgBbI0ZkJxn9Wqy3DK/61f26c5d0e317799c58e48cd484ce1e6/linktree-causes-landing-page-hero-1.mp4"
                  type="video/mp4">
              </video>
        </div>

    </article>

    <article>

      <div>
          <video autoplay muted loop>
              <source
                src="https://videos.ctfassets.net/lbsm39fugycf/5Z88UNk5vAFjxKxSePOS1g/b086910440ca7417d35674734b6ff360/website_security_8s.mp4"
                type="video/mp4">
            </video>
      </div>

      <div class="video-content">
          <h2> Safe, trusted, private</h2>
          <p>Privacy is non-negotiable. Linktree doesn’t track any personal data on your visitors, so your Linktree remains your place on the internet.</p>
      </div>


  </article>

    </div>

<br>


  <div class="graphics-container">
    
    <div class="graphics-article-container">


      <article>
    
        <div>
      <img
        src="https://images.ctfassets.net/lbsm39fugycf/4ehEuMFz2MN0whocgtEdjH/cf15be6ed10e4b27ce95887e55b1b8b9/linktree-features-customization.png?w=310&h=310&q=75&fm=webp"
        width="310" height="310">
      </div>
      <div>
        <h2>Customize your Linktree</h2>
        <p>Make your Linktree pop. Embody your brand through custom colors, fonts and images.</p>
      </div>

    </article>


    <article>

      <div>
      <img
        src="https://images.ctfassets.net/lbsm39fugycf/2PeKYxaoIbWPIcnUagYSDS/4c194674cd1a0a9abc62d26371a768a9/linktree-features-analytics.png?w=310&h=310&q=75&fm=webp"
        width="310" height="310">
      </div>
      <div>
        <h2>Analytics and Insights</h2>
        <p>Gain valuable insight into your traffic and discover which content is performing with your audience.</p>
      </div>
      
  </article>

    <article>

      <div>
      <img
        src="https://images.ctfassets.net/lbsm39fugycf/4ETNPMtKJPE37QSt5kfgm9/e18948bbc0d7fb4ce1a7c81b6e07d4fa/linktree-features-integrations.png?w=310&h=310&q=75&fm=webp"
        width="310" height="310">
      </div>
      <div>
      <h2>Powerful Third-Party Integrations</h2>
      <p>Collect email subscribers, connect with third-party analytics and remarket to your audience.</p>
    </div>
</article>

</div>

  <div class="btn--center">
    <a href="" title="See All Features" class="btn btn--purple-hover">SE ALL FEATURES</a>
  </div>

</div>

</body>

</html>