<!DOCTYPE html>
<html>
  <head>
    <title>Linktree&trade; | The Only Link You'll Ever Need</title>
    <link rel="icon" href="https://d1nnwinjc04txl.cloudfront.net/favicon-32x32.png?v=530918d2c86b9dd11c4fde40fa99d1b4" type="image/png">
  </head>
  <body>

    <header class="header">
      <div class="header__logo">
        <a href="">
          <img src="" alt="">
        </a>
      </div>

      <div class="header__items-nav">        
      </div>
      
      <div class="header__items-login">
        <a href=""></a>
        <button></button>
        <button></button>
      </div>
    </header>

    
  </body>
</html>
