<!DOCTYPE html>
<html>

<head>
  <title>Linktree&trade; | The Only Link You'll Ever Need</title>
  <link rel="icon" href="https://d1nnwinjc04txl.cloudfront.net/favicon-32x32.png?v=530918d2c86b9dd11c4fde40fa99d1b4"
    type="image/png">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/homepage-style.css">
</head>

<body>

  <header class="header">
    <div class="header__content">
      <a href=""><img src="/svg/linktree-svg.svg" alt="Logo do Linktree" width="85" height="20"></a>
      <nav class="nav">
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__content">
      <a href="">Log in</a>
      <a href="" class="header__button">sign up free</a>
      <button id="btn-toggle"></button>
    </div>
  </header>

  <aside>
    <nav class="nav">
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </nav>
  </aside>


</body>

</html>