<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="video-container">

    <div class="video-article-container">

      <article>

        <div>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/1i6LctbRMzKsEmWCdbZWe8/3aecc0e1dd43fa2e291e9d6778c822ee/link_to_anywhere.mp4"
              type="video/mp4">
          </video>
        </div>

        <div class="video-content">
          <h2> Use it anywhere</h2>
          <p>Take your Linktree wherever your audience is, to help them to discover all your important content.</p>
        </div>


      </article>

      <article class="video-right">

        <div>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/1i6LctbRMzKsEmWCdbZWe8/3aecc0e1dd43fa2e291e9d6778c822ee/link_to_anywhere.mp4"
              type="video/mp4">
          </video>
        </div>

        <div class="video-content">
          <h2> Link to everywhere</h2>
          <p>Linktree is the launchpad to your latest video, article, recipe, tour, store, website, social post -
            everywhere you are online.</p>
        </div>

      </article>

      <article>

        <div>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/2nDAujY8vMUV9YqWibCh4g/440bce7b1ba4bdf2171f7f6d12460238/Linktree-CommerceLinks-600x600-V02.mp4"
              type="video/mp4">
          </video>
        </div>

        <div class="video-content">
          <h2> Collect payments</h2>
          <p>From tips for your content, to donations for your projects, let your fans & followers support you in
            monetizing your passions.</p>
        </div>

      </article>

      <article class="video-right">

        <div class="video-right">
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/4jcMGgBbI0ZkJxn9Wqy3DK/61f26c5d0e317799c58e48cd484ce1e6/linktree-causes-landing-page-hero-1.mp4"
              type="video/mp4">
          </video>
        </div>

        <div class="video-content">
          <h2> Easily managed </h2>
          <p>Creating a Linktree takes seconds. Use our simple drag-and-drop editor to effortlessly manage your content.
          </p>
        </div>

      </article>

      <article>

        <div>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/5Z88UNk5vAFjxKxSePOS1g/b086910440ca7417d35674734b6ff360/website_security_8s.mp4"
              type="video/mp4">
          </video>
        </div>

        <div class="video-content">
          <h2> Safe, trusted, private</h2>
          <p>Privacy is non-negotiable. Linktree doesn’t track any personal data on your visitors, so your Linktree
            remains your place on the internet.</p>
        </div>


      </article>

    </div>

    <br>


    <div class="graphics-container">

      <div class="graphics-article-container">

        <div class="background-graphics-mobile">
        <div class="amazing-features">
          <h2>Amazing Features</h2>
        </div>

        <article>

          <div>
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/4ehEuMFz2MN0whocgtEdjH/cf15be6ed10e4b27ce95887e55b1b8b9/linktree-features-customization.png?w=310&h=310&q=75&fm=webp"
              width="310" height="310">
          </div>
          <div>
            <h2>Customize your Linktree</h2>
            <p>Make your Linktree pop. Embody your brand through custom colors, fonts and images.</p>
          </div>

        </article>


        <article>

          <div>
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/2PeKYxaoIbWPIcnUagYSDS/4c194674cd1a0a9abc62d26371a768a9/linktree-features-analytics.png?w=310&h=310&q=75&fm=webp"
              width="310" height="310">
          </div>
          <div>
            <h2>Analytics and Insights</h2>
            <p>Gain valuable insight into your traffic and discover which content is performing with your audience.</p>
          </div>

        </article>

        <article>

          <div>
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/4ETNPMtKJPE37QSt5kfgm9/e18948bbc0d7fb4ce1a7c81b6e07d4fa/linktree-features-integrations.png?w=310&h=310&q=75&fm=webp"
              width="310" height="310">
          </div>
          <div>
            <h2>Powerful Third-Party Integrations</h2>
            <p>Collect email subscribers, connect with third-party analytics and remarket to your audience.</p>
          </div>
        </article>

      </div>
      </div>

      <div class="btn--center">
        <a href="" title="See All Features" class="btn btn--purple-hover">SEE ALL FEATURES</a>
      </div>
    
    </div>
    </div>

    <!-- CONTAINER CARROSSEL -->

    <div class="community-container">

      <div class="community-content-container">

        <h2> Join the Linktree community today </h2>

        <p>The world's biggest influencers, creators, publishers and brands use Linktree in their marketing strategy.
        </p>

      </div>

      <div class="community-carrossel-container">

        <div>
          <a href="https://linktr.ee/selenagomez" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/4wxkOni6EugDJ8wZ2orxcx/c595ded258cb28437f58e552d0f8e893/selena-gomez-email.png?w=320&h=213&q=75&fm=webp"
              alt="Selena Gomez">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/guardian" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/4163aViu2ZFFMkQ8T8xnXN/9d53dc6659f30004b775befefd769989/linktree-profile-the-guardian.png?w=320&h=213&q=75&fm=webp"
              alt="The Guardian">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/garyvee" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/2Biv29qX3Tg8SNzityqPgh/4bbf58930ccf05c31de0de9f6595d132/linktree-profile-gary-vee.png?w=320&h=213&q=75&fm=webp"
              alt="Gary Lee">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/laclippers" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/3mwwj3hHNDt05uK78dUqgB/f84cb74ec2da6d5062a1cb965800ebb2/linktree-profile-la-clippers.png?w=320&h=213&q=75&fm=webp"
              alt="LA Clippers">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/aliciakeys" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/5RJm5b0XBF0uyLN0WY2Nkh/4653f16f4092ac6ef4fd2df580da5768/alicia.jpg?w=320&h=213&q=75&fm=webp"
              alt="Alicia Keys">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/redbull" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/7GCWhKDuGh9DRYhLX8zj9X/82decadb439c8b7dba9e77d9c82489c1/linktree-profile-red-bull.png?w=320&h=213&q=75&fm=webp"
              alt="Red Bull">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/pharrell" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/1E04QV5a8smC8PGXYJwmam/d88e5da83ae61377a5f401cbb5a35f66/linktree-profile-pharrell.png?w=320&h=213&q=75&fm=webp"
              alt="´Pharrell">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/mythical" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/3Ig0zfS6AbGX3QJ8DMKtIC/40064cbbfee675ae3c9db88e56f04a8c/linktree-profile-rhettandlink.png?w=320&h=213&q=75&fm=webp"
              alt="Rhett and Link">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/comedycentral" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/4KaHSQfVPunZm6HfFpDguK/0912191c8b6262bc4d33edf6e7d898db/linktree-profile-comedy-central.png?w=320&h=213&q=75&fm=webp"
              alt="Comedy Central">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/qantas" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/6cRmGQncuepUtpbtVzgfFF/f09468565b486160be02f5fc08eaa0ec/linktree-profile-qantas.png?w=320&h=213&q=75&fm=webp"
              alt="QANTAS">
          </a>
        </div>

        <div>
          <a href="https://linktr.ee/lorealmakeup" target="_blank">
            <img
              src="https://images.ctfassets.net/lbsm39fugycf/3w8ZeA0Eebl5sKo6zFmpDV/85ba5371a71cc466ba71f879242fc073/linktree-profile-loreal.png?w=320&h=213&q=75&fm=webp"
              alt="L'Oréal Paris">
          </a>
        </div>
  
      </div>

      <div class="btn--center">
        <a href="" title="Get Started for Free" class="btn btn--purple">GET STARTED FOR FREE</a>
      </div>

      </div>

<div class="featured-container">
  <article>
  <p> As featured in</p>
  
  <div>

  <div>
    <img src="https://images.ctfassets.net/lbsm39fugycf/1TGgA5Sm1U3E5lzgEjIKDg/2a340632f7c7c0fb7e253f1c41f7d94b/digital-trends-blue-grey.svg" width="162" height="32" alt="">
  </div>
  <div>
    <img src="https://images.ctfassets.net/lbsm39fugycf/srzEJDFtp52HRAKTs787R/ab5383c8e1deec2563e62af841ea73c6/entrepreneur-blue-grey__2_.svg" width="162" height="32" alt="">
  </div>
  <div>
    <img src="https://images.ctfassets.net/lbsm39fugycf/1cjCnc1zKiV1RpAqxAzutv/db7914019a26465799647e69247ff831/forbes-blue-grey.svg" width="162" height="32" alt="">
  </div>
  <div>
    <img src="https://images.ctfassets.net/lbsm39fugycf/2653SKgVHqFZ59GHD29wAk/ec7e26434abe9c756befb2f4f04b7784/engadget-blue-grey.svg" width="162" height="32" alt="">
  </div>

</div>
</article>


</div>

</body>
<footer>

<div class="footer-container">

  <div>
    <h3>Company</h3>

    <ul>
      <a href="">
      <li>Blog</li>
    </a>
    <a href="">
      <li>About</li>
    </a>
    <a href="">
      <li>Press</li>
    </a>
      <a href="">
      <li>Careers</li>
    </a>
      <a href="">
      <li>Social Good</li>
    </a>
    <a href="">
      <li>Contact</li>
    </a>
    </ul>
  </div>


  <div>
    <h3>Partnerships</h3>

    <ul>
      <a href="">
      <li>Linktree for Enterprise</li>
    </a>
    <a href="">
      <li>Charities</li>
    </a>
    <a href="">
      <li>Linktree Ambassador</li>
    </a>

  </div>


  <div>
    <h3>Support</h3>

    <ul>
      <a href="">
      <li>Help Topics</li>
    </a>
    <a href="">
      <li>Getting Started</li>
    </a>
    <a href="">
      <li>Features How To</li>
    </a>
    <a href="">
      <li>FAQs</li>
    </a>
    <a href="">
      <li>Report a violation</li>
    </a>

  </div>


<div>
 
    <h3>Trust & Legal</h3>

    <ul>
      <a href="">
      <li>Terms & Conditions</li>
    </a>
    <a href="">
      <li>Privacy Policy</li>
    </a>
    <a href="">
      <li>Trust Centre</li>
    </a>

</div>
</div>

</footer>


</html>