<!DOCTYPE html>
<html>
  <head>
    <title>Linktree</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Linktree</h1>
    <p>Welcome to Linktree</p>
  </body>
</html>
