<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
    <title>Linktree</title>
    <link rel="stylesheet" href="/stylesheets/signupStyle.css">
</head>

<body>
    <header>
        <a href="#">
            <img class="logo" src="img/linktree-logo.svg" alt="Logo do Linktree">
        </a>
    </header>

    <main>
        <span>Create an account for free</span>
        <span>Free forever. No payment needed.</span>
        <form>
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="checkbox" name="termos" id="termos">
            <label for="termos-de-condicoes">By creating an account you are agreeing to our <a href="#" target="_blank" rel="noopener noreferrer"> Terms and Conditions </a> and <a href="#" rel="noopener noreferrer"> Privacy Police. </a></label>
            <button color="purple" type="submit">Sign up with email</button>
        </form>
        <a href="/login" class="login">
            <span>Already have an account?</span>
        </a>
        <div>
            <picture>
                <source srcset="//images.ctfassets.net/9018yy2heipq/651pLG6NtpzqTdEUnKTLd3/c96c333998f8729184909825c9d12c63/Linktree-SignUp-Payment_July2021.jpg?w=767&fm=webp" media="{max-width: 767px}">
                <img loading="lazy" src="//images.ctfassets.net/9018yy2heipq/651pLG6NtpzqTdEUnKTLd3/c96c333998f8729184909825c9d12c63/Linktree-SignUp-Payment_July2021.jpg">
            </picture>
        </div>
    </main>
</body>

</html>