</header>

<main>

    <section class="banner">
      <div class="banner__title">
        <h1>The Only Link You’ll Ever Need</h1>
        <p>Connect audiences to all of your content with just one link</p>
      </div>

        <a href="#">
          <button class="banner--btn" type="button">
            <span>get started for free</span>
          </button>
        </a>

      <div class="banner__login">
        <p class="banner__login--text">Already on LinkTree?&nbsp;</p>
        <a href="/login" class="banner__login--text">Log in</a>
      </div>
    </section>

    <section class="device-container">
      <div class="device-body device-body--background">
        <span>
          <div class="device-header">
            <img src="" alt="Foto de Perfil" style="display: none;">
          </div>
        </span>
        <span>
          <div class="device-content"></div>
          <div class="device-content"></div>
          <div class="device-content"></div>
          <div class="device-content"></div>
          <div class="device-content"></div>
        </span>
        <span>
          <div class="device-footer">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
              class="device-footer__items device-footer__items--style" data-test="IconComponent">
              <rect data-test="IconComponent"></rect>
              <path
                d="M23.93,7.05a8.76,8.76,0,0,0-.56-2.91A6.07,6.07,0,0,0,19.86.63,8.76,8.76,0,0,0,17,.07C15.67,0,15.26,0,12,0S8.33,0,7.05.07A8.76,8.76,0,0,0,4.14.63,6.07,6.07,0,0,0,.63,4.14,8.76,8.76,0,0,0,.07,7.05C0,8.33,0,8.74,0,12S0,15.67.07,17a8.76,8.76,0,0,0,.56,2.91,6.07,6.07,0,0,0,3.51,3.51,8.76,8.76,0,0,0,2.91.56C8.33,24,8.74,24,12,24s3.67,0,4.95-.07a8.76,8.76,0,0,0,2.91-.56,6.07,6.07,0,0,0,3.51-3.51A8.76,8.76,0,0,0,23.93,17C24,15.67,24,15.26,24,12s0-3.67-.07-4.95M12,18.16A6.16,6.16,0,1,1,18.16,12,6.16,6.16,0,0,1,12,18.16M18.41,7a1.44,1.44,0,1,1,1.44-1.44A1.43,1.43,0,0,1,18.41,7M16,12a4,4,0,1,1-4-4,4,4,0,0,1,4,4"
                fill-rule="evenodd"></path>
            </svg>
            <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"
              class="device-footer__items device-footer__items--style" data-test="IconComponent">
              <path
                d="M48,0A48,48,0,1,0,96,48,48.14,48.14,0,0,0,48,0ZM70.08,69.36a2.85,2.85,0,0,1-4.08,1c-11.28-7-25.44-8.4-42.24-4.56A3,3,0,1,1,22.32,60c18.24-4.08,34.08-2.4,46.56,5.28A2.88,2.88,0,0,1,70.08,69.36Zm5.76-13.2c-1.2,1.68-3.36,2.4-5,1.2C57.84,49.44,38.16,47,23,51.84a3.64,3.64,0,0,1-2.16-7c17.52-5.28,39.12-2.64,54,6.48A3.39,3.39,0,0,1,75.84,56.16Zm6.72-14.64a5,5,0,0,1-6.24,1.2C61,33.6,35.28,32.64,20.64,37.2A4.4,4.4,0,1,1,18,28.8c17-5,45.12-4.08,62.88,6.48A4.64,4.64,0,0,1,82.56,41.52Z">
              </path>
            </svg>
            <svg viewBox="0 0 21.04 24" xmlns="http://www.w3.org/2000/svg"
              class="device-footer__items device-footer__items--style" data-test="IconComponent">
              <rect data-test="IconComponent" class="sc-AxhCb bKIKpW"></rect>
              <path
                d="M1.19,0,0,3.85,0,21.63H4.44V24H6.81l2.38-2.37h4.14L21,13.93V0ZM19,12.74,15.7,16H10.37l-3,3V16H3V2.07H19Z">
              </path>
              <rect x="13.63" y="5.93" width="2.07" height="5.93"></rect>
              <rect x="8.3" y="5.93" width="2.07" height="5.93"></rect>
            </svg>
          </div>
        </span>
      </div>

      <div class="device-animation">
        <div class="device-animation__line device-animation__line--style"></div>
        <div class="device-animation__box">
          <form action="">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path class="form__svg--first"
                d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z">
              </path>
              <path class="form__svg--second"
                d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z ">
              </path>
            </svg>
            <div>
              <span>linktr.ee/</span>
              <span class="box-form__span--opacity">yournamehere</span>
            </div>
            <span></span>
          </form>
        </div>
      </div>
    </section>

  </main>

  <section class="video-container">

      <div class="video-article-container">

        <article>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/1i6LctbRMzKsEmWCdbZWe8/3aecc0e1dd43fa2e291e9d6778c822ee/link_to_anywhere.mp4"
              type="video/mp4">
          </video>

          <div class="video-content">
            <h2> Use it anywhere</h2>
            <p>Take your Linktree wherever your audience is, to help them to discover all your important content.</p>
          </div>
        </article>

        <article class="video-right">
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/7oDgvpqZimd2N3qRJ3FOmx/be9603d765dc8bedd0d57ae02dc50579/linktree-for-tiktok-hero-2.mp4"
              type="video/mp4">
          </video>

          <div class="video-content">
            <h2> Link to everywhere</h2>
            <p>Linktree is the launchpad to your latest video, article, recipe, tour, store, website, social post -
              everywhere you are online.</p>
          </div>
        </article>

        <article>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/2nDAujY8vMUV9YqWibCh4g/440bce7b1ba4bdf2171f7f6d12460238/Linktree-CommerceLinks-600x600-V02.mp4"
              type="video/mp4">
          </video>

          <div class="video-content">
            <h2> Collect payments</h2>
            <p>From tips for your content, to donations for your projects, let your fans & followers support you in
              monetizing your passions.</p>
          </div>
        </article>

        <article class="video-right">
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/4jcMGgBbI0ZkJxn9Wqy3DK/61f26c5d0e317799c58e48cd484ce1e6/linktree-causes-landing-page-hero-1.mp4"
              type="video/mp4">
          </video>

          <div class="video-content">
            <h2> Easily managed </h2>
            <p>Creating a Linktree takes seconds. Use our simple drag-and-drop editor to effortlessly manage your
              content.
            </p>
          </div>
        </article>

        <article>
          <video autoplay muted loop>
            <source
              src="https://videos.ctfassets.net/lbsm39fugycf/5Z88UNk5vAFjxKxSePOS1g/b086910440ca7417d35674734b6ff360/website_security_8s.mp4"
              type="video/mp4">
          </video>

          <div class="video-content">
            <h2> Safe, trusted, private</h2>
            <p>Privacy is non-negotiable. Linktree doesn’t track any personal data on your visitors, so your Linktree
              remains your place on the internet.</p>
          </div>
      </div>

  </section>

  <section class="card-container">    

    <span>Amazing Features</span>

    <div class="cards">
      <article class="card">
        <img src="https://images.ctfassets.net/lbsm39fugycf/4ehEuMFz2MN0whocgtEdjH/cf15be6ed10e4b27ce95887e55b1b8b9/linktree-features-customization.png?w=310&h=310&q=75&fm=webp" alt="Customize Your Linktree">
        <div class="card__content">
          <h2>Customize Your Linktree</h2>
          <p>Make your Linktree pop. Embody your brand through custom colors, fonts and images.</p>
        </div>
      </article>
      
      <article class="card">
        <img src="https://images.ctfassets.net/lbsm39fugycf/2PeKYxaoIbWPIcnUagYSDS/4c194674cd1a0a9abc62d26371a768a9/linktree-features-analytics.png?w=310&h=310&q=75&fm=webp" alt="Analytics and Insights">
        <div class="card__content">
          <h2>Analytics and Insights</h2>
          <p>Gain valuable insight into your traffic and discover which content is performing with your audience.</p>
        </div>
      </article>
  
      <article class="card">
        <img src="https://images.ctfassets.net/lbsm39fugycf/4ETNPMtKJPE37QSt5kfgm9/e18948bbc0d7fb4ce1a7c81b6e07d4fa/linktree-features-integrations.png?w=310&h=310&q=75&fm=webp" alt="Powerful Third-Party Integrations">
        <div class="card__content">
          <h2>Powerful Third-Party Integrations</h2>
          <p>Collect email subscribers, connect with third-party analytics and remarket to your audience.</p>
        </div>
      </article>
    </div>
    
    <div class="card__button">
      <a href="">
        <button class="card--button">
          <span>se all features</span>
        </button>
      </a>
    </div>
    
  </section>

  <section class="carousel-container">

    <div class="carousel__content-text">
      <h2>Join the Linktree community today</h2>
      <p>The world's biggest influencers, creators, publishers and brands use Linktree in their marketing strategy.</p>
    </div>

    <div class="carousel">

      <div class="carousel__item">
        <a href="https://linktr.ee/selenagomez" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4wxkOni6EugDJ8wZ2orxcx/c595ded258cb28437f58e552d0f8e893/selena-gomez-email.png?w=320&h=213&q=75&fm=webp" alt="Selena Gomez">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4wxkOni6EugDJ8wZ2orxcx/c595ded258cb28437f58e552d0f8e893/selena-gomez-email.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="Selena Gomez">
          <span>Selena Gomez</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/guardian" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4163aViu2ZFFMkQ8T8xnXN/9d53dc6659f30004b775befefd769989/linktree-profile-the-guardian.png?w=320&h=213&q=75&fm=webp" alt="The Guardian">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/5BqDT3RSS3dvxE1Oywur0B/c28dd3fc59180f27b81e456b4621354f/profile-the-guardian.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="The Guardian">
          <span>The Guardian</span>
        </div>             
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/garyvee" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/2Biv29qX3Tg8SNzityqPgh/4bbf58930ccf05c31de0de9f6595d132/linktree-profile-gary-vee.png?w=320&h=213&q=75&fm=webp" alt="Gary Vee">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/53haCYAtpPPTREPB0QaTmT/fa9728d6cdd133963b4d4ff5e0707509/profile-image-gary-vee.jpeg?w=32&h=32&q=75&fm=webp&fit=fill" alt="Gary Vee">
          <span>Gary Vee</span>
        </div>        
      </div>
      
      <div class="carousel__item">
        <a href="https://linktr.ee/laclippers" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3mwwj3hHNDt05uK78dUqgB/f84cb74ec2da6d5062a1cb965800ebb2/linktree-profile-la-clippers.png?w=320&h=213&q=75&fm=webp" alt="LA Clippers">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4VqGXK6lLV7PDkbWrF7m91/25c538ba937c216c9bba655d7584d48a/profile-la-clippers.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="LA Clippers">
          <span>LA Clippers</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/aliciakeys" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/5RJm5b0XBF0uyLN0WY2Nkh/4653f16f4092ac6ef4fd2df580da5768/alicia.jpg?w=320&h=213&q=75&fm=webp" alt="Alicia Keys">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/5RJm5b0XBF0uyLN0WY2Nkh/4653f16f4092ac6ef4fd2df580da5768/alicia.jpg?w=32&h=32&q=75&fm=webp&fit=fill" alt="Alicia Keys">
          <span>Alicia Keys</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/redbull" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/7GCWhKDuGh9DRYhLX8zj9X/82decadb439c8b7dba9e77d9c82489c1/linktree-profile-red-bull.png?w=320&h=213&q=75&fm=webp" alt="Red Bull">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3CFfTjWY9EYJmU4NHTY78F/9326e3158e547fec90e4d7d6d12e8eff/profile-image-red-bull.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="Red Bull">
          <span>Red Bull</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/pharrell" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/1E04QV5a8smC8PGXYJwmam/d88e5da83ae61377a5f401cbb5a35f66/linktree-profile-pharrell.png?w=320&h=213&q=75&fm=webp" alt="Pharrell">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4En49xQUZd2EQ4xE2fm9g4/35be6f0b9d16d58d8a1a8eabbf8fce63/profile-image-pharrell.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="Pharrell">
          <span>Pharrell</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/mythical" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3Ig0zfS6AbGX3QJ8DMKtIC/40064cbbfee675ae3c9db88e56f04a8c/linktree-profile-rhettandlink.png?w=320&h=213&q=75&fm=webp" alt="Rhett and Link">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3yh8PbSFJQRUksQ9RNhcAZ/7a45e5f0bf1d8d9f90913fb370c315c7/d8lM6kdSgemAG3nUUo0w_491deec0bc3d3c6dc88bbabf37e06221?w=32&h=32&q=75&fm=webp&fit=fill" alt="Rhett and Link">
          <span>Rhett and Link</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/comedycentral" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4KaHSQfVPunZm6HfFpDguK/0912191c8b6262bc4d33edf6e7d898db/linktree-profile-comedy-central.png?w=320&h=213&q=75&fm=webp" alt="Comedy Central">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/7fKdkjryQn6kJYCmZA7dWk/0d9869cbdd6d926bab7a5983ff15d787/logo-comedy-central.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="Comedy Central">
          <span>Comedy Central</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/qantas" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/6cRmGQncuepUtpbtVzgfFF/f09468565b486160be02f5fc08eaa0ec/linktree-profile-qantas.png?w=320&h=213&q=75&fm=webp" alt="QANTAS">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3LUCJ9X8huziRNuDZn6nwa/b66cb5c9b921ffb42ecfc95c8a4f078d/100_Capsule-Logo-2016_1518x1012.jpg?w=32&h=32&q=75&fm=webp&fit=fill" alt="QANTAS">
          <span>QANTAS</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/patreon" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/4ZfkgQ2acODJxXbmwGVJ4W/58c117131dfb7856e671b42d0cbf5696/linktree-profile-patreon.png?w=320&h=213&q=75&fm=webp" alt="Patreon">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/73HBoPDTUBTvfxZ8fIcLO/08c0d017d3f74e649a7bdd33cd07db45/patreon-linktree-profile-image.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="Patreon">
          <span>Patreon</span>
        </div>        
      </div>

      <div class="carousel__item">
        <a href="https://linktr.ee/lorealmakeup" target="_blank">
          <img src="https://images.ctfassets.net/lbsm39fugycf/3w8ZeA0Eebl5sKo6zFmpDV/85ba5371a71cc466ba71f879242fc073/linktree-profile-loreal.png?w=320&h=213&q=75&fm=webp" alt="L'Oréal Paris">
          <svg viewBox="0 0 24 24"><a disabled="" target="_blank" rel="noopener noreferrer" ><rect ></rect><path style="fill: white;" d="M8.92,2.44a1.06,1.06,0,0,0-1.86,0L.1,15.07A1,1,0,0,0,1,16.44h4.7v4.78a.9.9,0,0,0,.89.89H9.33a.91.91,0,0,0,.89-.89V16.44H8.92a1.05,1.05,0,0,1-1-.89A1,1,0,0,1,8,15.07l3.89-7h0Z"></path><path style="fill: white;" d="M15.08,2.44a1.06,1.06,0,0,1,1.86,0l7,12.63A1,1,0,0,1,23,16.44H18.39v4.78a.9.9,0,0,1-.89.89H14.59a.9.9,0,0,1-.89-.89V16.44H15a1.05,1.05,0,0,0,1.06-.89,1,1,0,0,0-.08-.48L12.08,8h0Z"></path></a></svg>
        </a>
        <div class="carousel__avatar">
          <img src="https://images.ctfassets.net/lbsm39fugycf/50LeAPXk2FMbn99JTp6wLp/809ac96db82394d0cadbc783a1a71c07/logo-loreal-paris.png?w=32&h=32&q=75&fm=webp&fit=fill" alt="L'Oréal Paris">
          <span>L'Oréal Paris</span>
        </div>        
      </div>

    </div>
  </section>

  <div class="btn-container">
    <a href="">
      <button class="banner--btn">
        <span>get started for free</span>
      </button>
    </a>
  </div>