<section class="feature-container">
    <div>
      <span>As feature in</span>
      <div class="feature__block">
        <div>
          <img src="https://images.ctfassets.net/lbsm39fugycf/1TGgA5Sm1U3E5lzgEjIKDg/2a340632f7c7c0fb7e253f1c41f7d94b/digital-trends-blue-grey.svg" alt="Digital Trends">
        </div>
        <div>
          <img src="https://images.ctfassets.net/lbsm39fugycf/srzEJDFtp52HRAKTs787R/ab5383c8e1deec2563e62af841ea73c6/entrepreneur-blue-grey__2_.svg" alt="Entrepreneur">
        </div>
        <div>
          <img src="https://images.ctfassets.net/lbsm39fugycf/1cjCnc1zKiV1RpAqxAzutv/db7914019a26465799647e69247ff831/forbes-blue-grey.svg" alt="Forbes">
        </div>
        <div>
          <img src="https://images.ctfassets.net/lbsm39fugycf/2653SKgVHqFZ59GHD29wAk/ec7e26434abe9c756befb2f4f04b7784/engadget-blue-grey.svg" alt="Engadget">
        </div>
      </div>
    </div>
  </section>

  <script src="/scripts/script.js"></script>

</body>

</html>